/* Use as an example of specific font style as CSS */
.geologica-400 {
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
}

:root {
    --green-light: #c6edcd;
    --blue-light: #bedfe8;
    --blue-medium: #78b3b9;
    --blue-dark: #438088;
    --white: #f6f6f2;
    --orange: #f9b58f;
    --footer: #884B43;
}

body {
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    margin: 0;

    font-family: "Geologica", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0,
        "SHRP" 0;
}

main {
    position: relative;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background: var(--blue-dark);
}

footer {
    position: static;
    padding: 15px;
    font-size: smaller;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1.25rem;
    
    background: var(--footer);
    color: #bababa;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

input {
    border: none;
    border-radius: 10px;
    padding: 0.75rem;
}

/* general dialog styling */
dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid #9eb4b4;
    border-radius: 15px;
    box-shadow: 1px 2.5px 10px 3px #9eb5b5
}

dialog::backdrop {
    background-image: -webkit-linear-gradient(#fafafa, #bababa);
    opacity: 0.65;
}