.feed-nav{
    gap:15.28px;
}
.feed-nav>*{
    background-color: var(--white);
    border-radius:24px;
    padding-top: 14px;
    padding-bottom:14px;
}
.feed-search{
    flex:1;
    padding-left:15.28px;
    padding-right:15.28px;
    gap:15.28px;
}
.feed-search:focus-within{
    border:var(--primary) 2px solid;
    margin: -2px;
}
.feed-search input{
    flex:1;
    height:100%;
}
.feed-sort{
    padding-left: 24.72px;
    padding-right: 24.72px;
}