
:root{
    --background: #F0F0F0;
    --background-secondary: #F2F2F2;

    --white: #ffffff;
    --black: #000000;
    --grey: #686868;

    --primary: #104071;
    --secondary: #CAA534;
}

body{
    margin:0;
    font-family:sans-serif;

    background-color: var(--background);
    color:var(--black);
}